.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1.5rem;
  padding: 2rem 1.5rem;
  margin: 0 auto;
}

.header-nav a {
  color: #fff;
  text-decoration: none;
} 
.logo-box a {
  font-size: 1.8rem;
  font-weight: 500;
}

.main-nav ul {
  display: flex;
  gap: 1.5rem;
  list-style: none;
}
.main-nav ul li {
  padding: 0.8rem;
}

.main-nav ul li a {
  font-size: 1.2rem;
  color: #9b9699;
  text-decoration: none;
}

.main-nav ul li a:hover,
.main-nav ul li a:active,
.main-nav ul li a:focus {
  color: #fff;
  transition: background-color 0.3s ease-in-out;
}

.btn-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.btn {
  padding: 0.5rem 1.5rem;
  border-radius: 5px;
}
.btn-ghost {
  border: 1px solid #fff;
}

.btn-full {
  background-color: #89ba16;
  text-decoration: none;
}

.btn-full:hover {
  background-color: #a3df17;
  transition: background-color 0.3s ease-in-out;
}
.btn-ghost:hover {
  background-color: #fff;
  color: #1e1e1e;
  transition: background-color 0.3s ease-in-out;
}
