
.swiper {
    width: 100vw;
    height: 650px;
    background-color: rgb(100, 94, 94);
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #F8F9FA;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 500px;
    height: 800px;
    object-fit: cover;
  }

  .swiper {
    margin-left: auto;
    margin-right: auto;
  }